
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>This is my showing of what I currently understand of bootstrap and MVC.</h1>
    <p>Some extra things that I couldnt find I spot for but want to show I know:</p>

    <h1>Glyphicons : </h1>
    <p>Asterisk icon: <span class="glyphicon glyphicon-asterisk"></span></p>
    <p>Adjust icon: <span class="glyphicon glyphicon-adjust"></span></p>
    <p>Alert icon: <span class="glyphicon glyphicon-alert"></span></p>
    <p>Bed icon: <span class="glyphicon glyphicon-bed"></span></p>
    <p>Thumbs up icon: <span class="glyphicon glyphicon-thumbs-up"></span></p>

    <h1>Badges</h1>
    <button class="btn btn-primary" type="button">Inbox <span class="badge">21</span></button>

    <h1>Alerts</h1>
    <div class="alert alert-danger" role="alert">ERROR</div>
</div>
